.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centerName{
  height: 100vh;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border : 3px solid black !important;
  background: linear-gradient(90deg, #FF8C00 , blue) !important;
}

.NameInput{
  width: 50vw !important;
  margin: 10px !important;
  font-family: inherit;
  border: 0;
  border-bottom: 2px solid whitesmoke;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  padding: 5px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.particles{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
